#root {
  max-width: 10rem;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 1em;
  padding: 0.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 2rem;
  max-width: 1600px;
  margin: 0 auto;
}

.grid-item {
  aspect-ratio: 1 / 1;
  width: 100%;
}

@media (max-width: 1600px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    max-width: 1200px;
  }
}

@media (max-width: 1000px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    padding: 0.5rem;
    padding-left: 2.5rem;
  }
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    gap: 0.6rem;
    padding: 0.6rem;
  }

  .grid-item {
    height: 20vh;
    max-height: 200px;
  }
}

@media (max-width: 480px) {
  .grid-item {
    height: 20vh;
    max-height: 200px;
  }
}

